
        body
        {
            margin: 0;
            padding: 0;
            background-color: white;
            
        }
            a
            {
                color: #D0D3D4 ;
                text-align: left;
            }

            a:hover
            {
                color: green;
            }

        .box
        {
            position: relative;
            background-color: none;
            width: 400px;
            height: 400px;
            margin: 0 auto;
            margin-top: 10%;
            border: 2px solid gold;
            border-radius: 10px;
        }
        
        .login-text
        {
            color: black;
            margin: 0 auto;
            margin-top: 15px;
            padding: 5px;
            background-color: none;
            text-align: center;
            
        }

        input
        {
            margin-top: 10px;
            margin-left: 20px;
            padding: 5px 5px 12px 5px;
            font-size: 25px;
            border-radius: 5px;
            border: 1px solid goldenrod;
            width: 320px;
        }

        .submitButton
            {
                width: 50px;
                margin-left: 100px;
               width: 90px;
                float: left;
                margin-top: 5px;
            }

            .nextButton
            {
                margin-left: 100px;
                margin-top: 20px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                border: 1px solid whitesmoke;
            }
